<section>
    <button class="btn btn-default" ng-click="controller.showAddPartnerRepModal()">
        add partner rep
    </button>

    <div ng-if="controller.partnerRep.id">
        <h4>result:</h4>

        <pre>
            {{controller.partnerRep|json}}
        </pre>

    </div>
</section>